services:
  app:
    build: .
    ports:
      - "8080:8080"
    depends_on:
      - db
    environment:
      - DB_HOST=db
      - DB_PORT=5432
      - DB_USER=postgres
      - DB_PASSWORD=postgres
      - DB_NAME=CarsDB
      - DB_SSLMODE=disable
    volumes:
      - ./.env:/app/.env

  db:
    image: postgres:17
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=CarsDB
    volumes:
      - postgres_data:/var/lib/postgresql

volumes:
  postgres_data: